<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>gramy czy nie?</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  
  <body>
    
    <div style="text-align: right;"><a style="color: grey; text-decoration: none;" href="/admin/">admin</a></div>
    
    <!-- start header -->
    <div id="header">
      <h1>granie</h1>
    </div>
    <!-- end header -->
    
    
    <!-- start page -->
    <div id="wrapper">
      <div id="page">
	
	
	<!-- start content -->
	<div id="content">
	  
	  <div class="post">
	    <h1 class="title">granie</h1>
	    
	    <div class="entry">
	      <p class="post">
		{% block main %}{% endblock %}
	      </p>
	    </div>
	  </div>
	</div>
	<!-- end content -->
	
	
	
	<!-- start sidebar -->
	<div id="sidebar">
	  <div class="wrap">
	    <div class="top">
	      <div class="btm">
		<ul>
		  <li>
<!--		    <h2>autoryzacja</h2> -->
		    <ul>
		      {% if request.user.is_anonymous == 1 %}
		      <span style="color: RED;"><strong>NIE ZALOGOWANY!</strong></span>
		      <li><a style="text-decoration: none;" href="/accounts/login/">zaloguj</a></li>
		      {% block menu_login %}{% endblock %}
		      {% else %}
		      <span style="color: blue;">zalogowany jako <strong>{{ request.user }}</strong></span>
		      <li><a  style="text-decoration: none;" href="/accounts/password_change/">zmiana hasla</a></li>
		      {% block menu %} {% endblock %}
		      {% endif %}
		      
		    </ul>
		  </li>
		  
		  {% block question %}{% endblock %}
		  
		</ul>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- end sidebar -->  
	
	<div style="clear:both">&nbsp;</div>
	
      </div>
    </div>
    
    
    
    <div id="footer">
      <p></p>
    </div>
    
  </body>
</html>
