{% extends "siata_base.html" %}

{% block main %}
<h3>mozna grac: </h3>
<p>
  {% for granie in grania %}
  <li><a href = "/siata/gramy/szczegoly/{{granie.id}}/">{{ granie.date|date:"M d D" }}</a> ile osob chce grac : {{ granie.uczestnik_set.all.count }}</li>
  {% empty %}
  nie zdefiniowano terminów
  {% endfor %}
</p>
{% endblock %}

{% block menu %}
<ul style="list-style: none; background: green;">
  <li><a style="text-decoration: none; color: white;" href = "/logout/">wyloguj</a></li>
</ul>
{% endblock %}
