{% extends "siata_base.html" %}

{% block main %}
<p>
  {% for granie in grania %}
  {% if granie.decision == 1 %}
  <div style="font-weight: bold; color: green;">
  {% else %}
  <div style="color: red;">
  {% endif %}
  <li><a style="text-decoration: none;" href = "/siata/gramy/szczegoly/{{granie.id}}/">{{ granie.date|date:"M d D" }}</a> ile osob chce grac : {{ granie.uczestnik_set.all.count }}</li>
  </div>
  {% empty %}
  nie zdefiniowano terminów
  {% endfor %}
</p>
{% endblock %}

{% block menu %}
<li><a style="text-decoration: none; color: white;" href = "/logout/">wyloguj</a></li>
{% endblock %}
