{% extends "siata_base.html" %}

{% block main %}
<form action="/accounts/login/" method="POST">
  {% csrf_token %}


  <fieldset>
    {% for field in form %}
    <p>
      {{ field.label_tag }}
    </p>
    <p>
      {{ field }}
    </p>
    {% endfor %}
    <div style="text-align:left">
      <input type="submit" value="zaloguj" />
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    <ul>
      <li><a href="#">Forgot your password?</a></li>
      <li><a href="#">Register</a></li>
    </ul>
    
  </fieldset>
</form>
{% endblock %}

{% block menu_login %}
<li><a style="text-decoration: none; color: white;" href = "/">lista</a></li>
{% endblock %}
