{% extends "siata_base.html" %}

{% block main %}

<h1>{{ granie }}</h1>
<h3>chetni:</h3>
<p>
  {% for uczestnik in uczestnicy %}
  <li style="list-style: decimal;">{{ uczestnik }}</li>
  {% empty %}
  brak chętnych
  {% endfor %}
</p>
{% endblock %}


{% block question %}
<form action="/siata/gramy/szczegoly/{{ granie.id }}/" method="POST">
  {% csrf_token %}

  <fieldset style="color:white;">
    <p><strong>{{ user }}</strong> chcesz grać? </p>
    <p><input type = "radio" name = "chce" value = 1> tak </p>
    <p><input type = "radio" name = "chce" value = 0 > nie </p>
    <p><input type = "submit" value = "zatwierdz"></p>

  </fieldset>
</form>
{% endblock %}

{% block menu %}
<li><a style="text-decoration: none;" href = "/logout/">wyloguj</a></li>
<li><a style="text-decoration: none;" href = "/">lista</a></li>
{% endblock %}
