{% extends "siata_base.html" %}

{% block main %}

<h1>{{ granie }}</h1>

<h3>kto chce grac</h3>
<p>
  {% for uczestnik in uczestnicy %}
  <li>{{ uczestnik }}</li>
  {% empty %}
  brak chętnych
  {% endfor %}
</p>

<form action="/siata/gramy/szczegoly/{{ granie.id }}/" method="POST">
  {% csrf_token %}

  <fieldset>
    <p>{{ user }} chcesz grać? </p>
    <p><input type = "radio" name = "chce" value = 1> tak </p>
    <p><input type = "radio" name = "chce" value = 0 > nie </p>
    <p><input type = "submit" value = "zatwierdz"></p>

  </fieldset>
</form>
{% endblock %}

{% block menu %}
<ul style="list-style: none; padding: 0 0 0 0; text-align:center;">
  <li style="margin-bottom: 5px; background: green;"><a style="text-decoration: none; color: white;" href = "/">lista</a></li>
  <li style="background: green;"><a style="text-decoration: none; color: white;" href = "/logout/">wyloguj</a></li>
</ul>
{% endblock %}
